@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";
@import "slick-carousel/slick/slick.css";
@import "slick-carousel/slick/slick-theme.css";

body {
  font-family: "Inter";
  font-weight: 500;
  background-color: #ffffff; /* Your original background color */
  color: #000000; /* Your original text color */
}


/* Override dark theme preferences */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #ffffff; /* Override dark mode background */
    color: #000000; /* Override dark mode text */
  }

  .cards{
    background-color: #ffffff; /* Override dark mode background */
  }

  .textbox{
    background-color: #ffffff; /* Override dark mode background */
  }

  
  input[type="checkbox"],
  input[type="radio"] {
    background-color: #ffffff; /* Override dark mode background */
    color-scheme: light; /* Ensure light mode styles are used */
  }

  .searchbar {
    background-color: #e5e5e5; /* Light gray color for the search bar */
    border-radius: 9999px; /* Ensure it's rounded */
    padding: 0.5rem 2.5rem; /* Adjust padding as needed */
    outline: none; /* Remove the default outline */
    width: 100%; /* Full width */
    color: #6b6b6b; /* Set text color for contrast */
  }
}

.criteriaPage {
  overflow: hidden;
}

.fade-left {
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}

.fade-right {
  background: linear-gradient(
    to left,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
}
.scroll-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge, and Firefox */
.scroll-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
@layer utilities {
  .no-scrollbar {
    -moz-appearance: textfield; /* Firefox */
    appearance: none; /* Chrome, Safari, Opera */
  }
  .no-scrollbar::-webkit-outer-spin-button,
  .no-scrollbar::-webkit-inner-spin-button {
    -webkit-appearance: none; /* Chrome, Safari, Opera */
    margin: 0;
  }
  .no-scrollbar {
    -ms-overflow-style: none; /* IE 10+ */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }
}

html {
  scroll-behavior: smooth;
}

/* .left-container {
  position: relative; 
  width: 100%; 
  height: 100%;
  overflow: hidden; 
}

.full-width-image {
  position: absolute; 
  top: 0;
  left: 0; 
  width: 100%; 
  height: 100%; 
  object-fit:contain; 
} */
.left-container {
  position: relative; /* Ensure the container is positioned */
  width: 100%; /* Full width of the parent */
  height: 100%; /* Full height of the parent */
  overflow: hidden; /* Hide overflow if the image is larger */
}

.full-width-image {
  position: absolute; /* Position the image absolutely within the container */
  top: 50%; /* Center the image vertically */
  left: 50%; /* Center the image horizontally */
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  object-fit: repeat; /* Maintain aspect ratio while covering the entire area */
  transform: translate(-50%, -50%);
  margin-left: 8px;
}

.custom-tooltip-content {
  padding: 8px;
  transform: translateY(-10px);
}

.uppercase {
  text-transform: capitalize;
}

/* This is for 67% of windows */
@media (min-width: 2300px) {
  .button-text {
    font-size: 1.2rem;
  }
  .button-dot {
    width: 12px;
    height: 12px;
  }
  .button-icon {
    width: 40px;
    height: 40px;
  } 

  .LandingNav {
    position: sticky;
    top: 0;
    z-index: 10;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 1.5rem;
    border-radius: 0;
    max-width: 100%;
    height: max-content;
    background-color: #ffffff;
  }
  .navbar-text {
    font-size: 28px;
  }
  .Hero-nav {
    font-size: 20px;
  }
  .our-nav {
    font-size: 20px;
  }
  .testi-Nav {
    font-size: 20px;
  }
  .sign-Nav {
    font-size: 20px;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 38px;
    width: 130px;
  }
  /* navbar end */
  .hero-main {
    max-width: 3000px;
  }
  .hero-banner {
    display: flex;
    margin-top: 1.25rem;
    margin-bottom: 5rem;
    margin-left: 6rem;
    margin-right: 7rem;
    justify-content: left;
    align-items: center;
    border-radius: 1.5rem;
    background-position: center;
    background-size: cover;
    width: 1950px;
    height: 800px;
  }
  .hero-text {
    display: flex;
    margin-top: 2.5rem;
    position: relative;
    justify-content: left;
    align-items: center;
    left: 25rem;
    font-size: 3.5rem;
    line-height: 1;
    font-weight: 400;
    color: #ffffff;
    letter-spacing: 3.5px;
  }
  .hero-button {
    position: relative;
    top: 10px;
    font-size: 25px;
  }
  /* Hero End */
  .CardStructure {
    max-width: 3000px;
  }
  .benefits-service {
    font-size: 50px;
  }
  .h2-CardStructure {
    font-size: 35px;
  }
  .p-CardStructure {
    font-size: 28px;
    margin-top: 8px;
    /* margin-bottom: 5px; */
    line-height: 1.5;
  }
  .card-size {
    width: 450px;
    height: 350px;
  }
  .grid1-service {
    /* width: 70px;
    height: 50px; */
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 7rem;
    justify-content: center;
  }
  .grid2-service {
    /* width: 70px;
    height: 50px; */
    display: flex;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 6rem;
    justify-content: center;
  }
  /* Services end */
  .main-Testi {
    max-width: 3000px;
  }
  /* testi end */
  .footer {
    max-width: 3000px;
  }
  .logo-footer {
    font-size: 22px;
  }
  .foot-footer {
    font-size: 22px;
  }
  .sell-footer {
    font-size: 22px;
  }
  .rent-footer {
    font-size: 22px;
  }
  .contact-footer {
    font-size: 22px;
  }
}
  /* landing end */
  /* @media (min-width: 2300px) {
    .main-nav {
      max-width: 3000px;
    }
    .nav-compare {
      max-width: 3000px;
    }
    .txt-compare {
      font-size: 30px;
    } */
    /* compare-nav end */

    /* Compare-top */
    /* @media (min-width: 1600px) {
      .compare-top {
        max-width: 3072px;
        margin-top: 90px;
      }
      .arw-compare {
        position: relative;
        left: 300px;
        font-size: 25px;
      }
      .compare-toggle {
        position: relative;
        right: 160px;
        font-size: 25px;
        width: 400px;
        height: 45px;
      }
    } */

    /* @media (min-width: 2300px) {
      .main-compare {
        max-width: 3072px;
        position: relative;
        height: 800px;
        left: 310px;
        margin-top: 35px;
      }
      .main2-compare {
        height: 950px;
      }
      .importance-compare {
        font-size: 30px;
        margin-bottom: 10px;
      }
      .imp-compare {
        font-size: 20.5px;
        margin-bottom: 125px;
      }

      .compare-criteria {
        font-size: 27px;
      }
      .Criteria-compare {
        font-size: 22px;
      }
      ul.Criteria-compare .space-1 {
        margin-top: 16px;
        padding-bottom: 1.4rem;
      }
      ul.Criteria-compare .space-1 {
        padding-bottom: 1.4rem;
      }
      ul.Criteria-compare .space-2 {
        padding-bottom: 1.4rem;
      }
      ul.Criteria-compare .space-3 {
        padding-bottom: 1.4rem;
      }
      ul.Criteria-compare .space-4 {
        padding-bottom: 1.4rem;
      }
      ul.Criteria-compare .space-5 {
        padding-bottom: 1.4rem;
      }
      ul.Criteria-compare .space-6 {
        padding-bottom: 1.4rem;
      }
      ul.Criteria-compare .space-7 {
        padding-bottom: 1.4rem;
      }
      ul.Criteria-compare .space-8 {
        padding-bottom: 1.4rem;
      }
      ul.Criteria-compare .space-9 {
        padding-bottom: 1.4rem;
      }
      ul.Criteria-compare .space-10 {
        padding-bottom: 1.4rem;
      }
      ul.Criteria-compare .space-11 {
        padding-bottom: 1.4rem;
      }

      .Total-compare {
        font-size: 24px;
        padding-bottom: 1.4rem;
      }

      .match-compare {
        font-size: 20px;
        word-spacing: 3.5px;
        margin-bottom: 2px;
        padding-bottom: 0.7rem;
        padding-top: 0.1.9rem;
      }
      .address-compare {
        font-size: 19px;
        word-spacing: 7px;
        letter-spacing: 2px;
      }
      .button-compare {
        font-size: 20px;
      }
      .data-compare {
        font-size: 18px;
      }
      .data-compare-1 {
        font-size: 23px;
        padding-bottom: 1.4rem;
      }
      .data-compare-2 {
        font-size: 23px;
        padding-bottom: 1.4rem;
      }
      .data-compare-3 {
        font-size: 23px;
        padding-bottom: 1.4rem;
      }
      .data-compare-4 {
        font-size: 23px;
        padding-bottom: 1.4rem;
      }
      .data-compare-5 {
        font-size: 23px;
        padding-bottom: 1.4rem;
      }
      .data-compare-6 {
        font-size: 23px;
        padding-bottom: 1.4rem;
      }
      .data-compare-7 {
        font-size: 23px;
        padding-bottom: 1.4rem;
      }
      .data-compare-8 {
        font-size: 23px;
        padding-bottom: 1.4rem;
      }
      .data-compare-9 {
        font-size: 23px;
        padding-bottom: 1.4rem;
      }
      .data-compare-10 {
        font-size: 23px;
        padding-bottom: 1.4rem;
      }
      .data-compare-11 {
        font-size: 23px;
        padding-bottom: 1.4rem;
      }
      .compare-final {
        font-size: 22px;
      }
    }
  }
}
 */
